/* page styles */
body { font-size:62.5%; }
fieldset { padding:1em 15px; }
legend { font-size:1.4em; font-weight:bold; padding:.2em 5px; }

/* Custom checkboxes, radios */

/*	wrapper divs */
.custom-checkbox,.custom-radio { position:relative; height:37px; }

/* input, label positioning */
.custom-checkbox input,.custom-radio input { position:absolute; left:7px; top:7px; margin:0; }
.custom-checkbox label,.custom-radio label { display:block; position:relative; font-size:1.3em; line-height:1; padding:.5em 0 .5em 45px; margin:0 0 .3em; cursor:pointer; }
.custom-checkbox label span, .custom-radio label span { background:url('../images/sprite.png') no-repeat; display:inline-block; width:37px; height:37px; position:absolute; top:-5px; left:0; }
.custom-radio label span { width:35px; height:35px }

/* states */
/* CheckBoxes */
.custom-checkbox label span { background-position:-136px 0; }
.custom-checkbox label.hover span,.custom-checkbox label.focus span { background-position:-173px 0; }
.custom-checkbox label.checked span { background-position:-210px 0; }
.custom-checkbox label.focus span { outline:1px dotted #ccc; }
.custom-checkbox label.checked.hover span,.custom-checkbox label.checked.focus span { background-position:-247px 0; }
/* Radio Buttons */
.custom-radio label span { background-position:3px 0; }
.custom-radio label.hover span,.custom-radio label.focus span { background-position:-32px 0; }
.custom-radio label.checked span { background-position:-67px 0; }
.custom-radio label.checked.hover span, .custom-radio label.checked.focus span {background-position:-102px 0; }
.custom-radio label.focus span { outline:1px dotted #ccc; }

/*toggle button examples*/
#view { width:100px; display: block; }
#view .custom-checkbox,#view .custom-radio { width:50%; float:left; }
#show { width:250px; display: block; clear: left; }
#show .custom-checkbox,#show .custom-radio { width:33%; float:left; }
.toggle label { border-collapse:collapse; }
.toggle .custom-checkbox label span,.toggle .custom-radio label span { background:none; }
.toggle .custom-checkbox label,.toggle .custom-radio label { padding:.4em 1em; border:1px solid #aaa; background-color:#eee; text-align:center; cursor:pointer; font-size:1.2em; width:auto; overflow:visible; background:#459e00 url(../images/button-green.gif) no-repeat left center; color:#fff; border-color:#2d7406; text-shadow:-1px -1px 0 #37730e; }
.toggle .custom-checkbox label.hover,
.toggle .custom-checkbox label.focus,
.toggle .custom-radio label.hover,
.toggle .custom-radio label.focus { background-position: right center; border-color:#205b00; }
.toggle .custom-checkbox label.checked,
.toggle .custom-radio label.checked,
.toggle .custom-checkbox label.checkedHover,
.toggle .custom-checkbox label.checkedFocus { background:#2d7406; border-color:#2d7406; }
.toggle .first label { -moz-border-radius-bottomleft:7px; -webkit-border-bottom-left-radius:7px; border-bottom-left-radius:7px; -moz-border-radius-topleft:7px; -webkit-border-top-left-radius:7px; border-top-left-radius:7px; }
.toggle .last label { -moz-border-radius-bottomright:7px; -webkit-border-bottom-right-radius:7px; border-bottom-right-radius:7px; -moz-border-radius-topright:7px; -webkit-border-top-right-radius:7px; border-top-right-radius:7px; }